.primary {
    height: 32px;
    padding: 0px 20px 0px 20px;
    color: #fff;
    background-color: rgb(37, 169, 156);
    border: 0px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;

    &:hover {
        transition: .3s;
        background-color: rgb(64, 233, 216);
        cursor: pointer;
    }

    &:focus {
        transition: .3s;
        background-color: rgb(18, 123, 112);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: rgb(189, 187, 187);
    }
}

.secondary {
    height: 32px;
    padding: 0px 20px 0px 20px;
    color: #000;
    background-color: #fff;
    border: 1px solid rgb(37, 169, 156);
    border-radius: 20px;
    align-items: center;
    justify-content: center;

    &:hover {
        transition: .3s;
        color: rgb(64, 233, 216);
        border: 1px solid rgb(64, 233, 216);
        cursor: pointer;
    }

    &:focus {
        transition: .3s;
        color: rgb(18, 123, 112);
        border: 1px solid rgb(18, 123, 112);
    }

    &:disabled {
        cursor: not-allowed;
        border: 1px solid rgb(189, 187, 187);
        color: rgb(189, 187, 187);
    }
}

.tertiary {
    height: 32px;
    padding: 0px 20px 0px 20px;
    color: #000;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;

    &:hover {
        transition: .3s;
        color: rgb(64, 233, 216);
        cursor: pointer;
    }

    &:focus {
        transition: .3s;
        color: rgb(18, 123, 112);
    }

    &:disabled {
        cursor: not-allowed;
        color: rgb(189, 187, 187);
    }
}

.danger {
    height: 32px;
    padding: 0px 20px 0px 20px;
    color: #fff;
    background-color: rgb(224, 1, 1);
    border: 0px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;

    &:hover {
        transition: .3s;
        background-color: rgb(249, 69, 69);
        cursor: pointer;
    }

    &:focus {
        transition: .3s;
        background-color: rgb(187, 4, 4);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: rgb(189, 187, 187);
    }
}

.custom-button {
    align-items: center;
}