.modal {
    display: block;
    background-color: rgba(0, 0, 0, 0.5); // Modal backdrop

    &.fade {
        transition: opacity 0.15s linear;
    }
}

.modal-dialog {
    z-index: 1001;
    max-width: 500px;
    margin-top: 20%;
}

.modal-content {
    border-radius: 0.3rem;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: none;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-body {
    position: relative;
    padding: 1rem;
}

.modal-footer {
    border: none;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.close {
    padding: 0px !important;
    width: 20px;
    height: 20px;
}

.modal-backdrop {
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(18, 123, 112, 0.3);
}