.live-music-container {
    z-index: 900;
    position: absolute;
    top: 10px;
    display: flex;
    height: 250px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 20px;
    gap: 10px;
    overflow: hidden;

    @media (max-width: 768px) {
        height: 80px;
        gap: 10px;
    }

    @media (max-width: 480px) {
        height: 60px;
        gap: 16px;
    }
}

.live-music-bar {
    z-index: 900;
    flex: 1 1 auto;
    margin: 0 1px;
    max-width: 20px;
    transition: height 0.4s ease;
    border-radius: 10px 10px 0 0;

    @media (max-width: 768px) {
        max-width: 5px;
    }

    @media (max-width: 480px) {
        max-width: 4px;
        margin: 0 0.5px;
    }
}